
@page "/manageusers"
@attribute [Authorize(Roles = "Admin")]

@using BlazorRolesMgmt.Data;
@using BlazorRolesMgmt.Services;

@inject IManageUsersService _usersService

<h3>Manage Users</h3>

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-success float-right" @onclick="AddNewUser">Add User</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <Table TableItem="ApplicationUser" Items="_allUsers" PageSize="20" ColumnReorder="true" class="table">
                        <Column TableItem="ApplicationUser" Title="First Name" Field="@(x => x.FirstName)" Sortable="true" DefaultSortColumn="true" />
                        <Column TableItem="ApplicationUser" Title="Last Name" Field="@(x => x.LastName)" Sortable="true" />
                        <Column TableItem="ApplicationUser" Title="Email" Field="@(x => x.Email)" Sortable="true">
                            <Template Context="_context">
                                <a href="mailto:@_context.Email">@_context.Email</a>
                            </Template>
                        </Column>
                        <Column TableItem="ApplicationUser" Title="" Width="20%">
                            <Template Context="_context">
                                <!-- Edit the current user -->
                                <button class="btn btn-sm btn-primary"
                                        @onclick="(() => EditUser(_context))">
                                    Edit
                                </button>
                                <!-- Remove the role from user -->
                                <button class="btn btn-sm btn-info"
                                        @onclick="(() => AddRemoveUserRoles(_context))">
                                    Roles
                                </button>
                                <!-- Generate new password -->
                                <button class="btn btn-sm btn-secondary"
                                        @onclick="(() => GeneratePassword(_context))">
                                    <i class="oi oi-key"></i>
                                </button>
                            </Template>
                        </Column>
                        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
                    </Table>

                    @if (ShowPopup)
                    {
                        <EditUserModal ClosePopup="ClosePopup" CurrentUserRoles="@CurrentUserRoles" DeleteUser="DeleteUser" objUser="@objUser" SaveUser="SaveUser" strError="@strError" />
                    }

                    @if (ShowUserRolesPopup)
                    {
                        <!-- This is the popup to create or edit user roles -->
                        <EditUserRolesModal AllRoles="@_allRoles" UserRoles="@_userRoles" CurrentUserRoles="@CurrentUserRoles" objUser="@objUser" SelectedUserRole="@SelectedUserRole" AddRoleToUser="@(() => AddRoleToUser(SelectedUserRole))" RemoveRoleFromUser="@(() => RemoveRoleFromUser(SelectedUserRole))" strError="@strError" ClosePopup="ClosePopup" />
                    }

                    @if (ShowPasswordPopup)
                    {
                        <PasswordModal ClosePopup="@ClosePopup" objUser="@objUser" NewUserPassword="@NewUserPassword" />
                    }
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You're not loggged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Property used to add or edit the currently selected user
    ApplicationUser objUser = new ApplicationUser();

    string CurrentUserRoles { get; set; }

    string SelectedUserRole { get; set; }

    // To show the new user password
    string NewUserPassword { get; set; }

    // Collection to display the existing users
    List<ApplicationUser> _allUsers = new List<ApplicationUser>();

    // Roles to display in the roles dropdown when adding a role to the user
    List<string> _allRoles = new List<string>();

    // Roles to display in the roles dropdown when removing a role from the user
    List<string> _userRoles = new List<string>();

    // To hold any possible errors
    string strError = "";

    // To enable showing the Popup
    bool ShowPopup = false;

    // To enable showing the User Roles Popup
    bool ShowUserRolesPopup = false;

    // To enable showing the User Roles Popup
    bool ShowPasswordPopup = false;

    protected override void OnInitialized()
    {
        _allRoles = _usersService.GetAllRoles();
        GetUsers();
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////Users Management Code///////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    void AddNewUser()
    {
        // Make new user
        objUser = new ApplicationUser();
        // Set Id to blank so we know it is a new record
        objUser.Id = "";
        //Reset the allroles list
        _allRoles = _usersService.GetAllRoles();
        // Open the Popup
        ShowPopup = true;
    }

    async Task SaveUser()
    {
        try
        {
            if (objUser.Id != "")
            {
                // Get the user
                var user = await _usersService.GetUser(objUser.Id);

                user.Email = objUser.Email;
                user.FirstName = objUser.FirstName;
                user.LastName = objUser.LastName;

                // Update the user
                await _usersService.UpdateUser(user);
            }
            else
            {
                // Insert new user
                var NewUser = new ApplicationUser
                {
                    UserName = objUser.Email,
                    Email = objUser.Email,
                    FirstName = objUser.FirstName,
                    LastName = objUser.LastName
                };

                var result = await _usersService.AddUser(NewUser);

                if (string.IsNullOrWhiteSpace(result))
                {
                    strError = "An unexpected error has occurred while creating the new user.";
                    // Keep the popup opened
                    return;
                }
                else
                {
                    NewUserPassword = result;
                }
            }
            // Close the Popup
            ShowPopup = false;
            // Refresh Users
            GetUsers();

            if (objUser.Id == "")
            {
                //Show password
                ShowPassword();
            }
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    async Task EditUser(ApplicationUser _ApplicationUser)
    {
        // Set the selected user as the current user
        objUser = _ApplicationUser;
        // Get the user
        var user = await _usersService.GetUser(objUser.Id);
        if (user != null)
        {
            var userRoles = await _usersService.GetUserRoles(user.Id);
            CurrentUserRoles = string.Join(", ", userRoles.ToArray());
        }
        // Open the Popup
        ShowPopup = true;
    }

    async Task DeleteUser()
    {
        // Get the user
        var user = await _usersService.GetUser(objUser.Id);
        if (user != null)
        {
            // Delete the user
            await _usersService.DeleteUser(user);
        }
        // Close the Popup
        ShowPopup = false;
        // Refresh Users
        GetUsers();
    }

    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
        ShowUserRolesPopup = false;
        ShowPasswordPopup = false;
        strError = "";
    }

    public void GetUsers()
    {
        // Clear any error messages
        strError = "";
        // Collection to hold users
        _allUsers = _usersService.GetAllUsers();
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////Roles Management Code/////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    async Task AddRemoveUserRoles(ApplicationUser _ApplicationUser)
    {
        // Set the selected user as the current user
        objUser = _ApplicationUser;
        // Get the user
        var user = await _usersService.GetUser(objUser.Id);
        if (user != null)
        {
            var userRoles = await _usersService.GetUserRoles(user.Id);
            CurrentUserRoles = string.Join(", ", userRoles.ToArray());

            //Only those roles which are not assigned to this user
            _allRoles = _usersService.GetAllRoles();

            //Only those roles which are assigned to this user
            _userRoles = await _usersService.GetUserRoles(user.Id);
        }
        // Show the Delete Role Popup
        ShowUserRolesPopup = true;
    }

    async Task RemoveRoleFromUser(string SelectedUserRole)
    {
        // Get the user
        var user = await _usersService.GetUser(objUser.Id);
        if (user != null)
        {
            if (SelectedUserRole != "" && SelectedUserRole != null)
            {
                // Delete the user role
                await _usersService.RemoveRoleFromUser(user.Id, SelectedUserRole);
            }
        }
        // Close the Popup
        ShowUserRolesPopup = false;
        // Refresh Users
        GetUsers();
    }

    async Task AddRoleToUser(string SelectedUserRole)
    {
        // Get the user
        var user = await _usersService.GetUser(objUser.Id);
        if (user != null)
        {
            if (SelectedUserRole != "" && SelectedUserRole != null)
            {
                // Delete the user role
                await _usersService.AddRoleToUser(user.Id, SelectedUserRole);
            }
        }
        // Close the Popup
        ShowUserRolesPopup = false;
        // Refresh Users
        GetUsers();
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////Password  Code////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    void ShowPassword()
    {
        ShowPasswordPopup = true;
    }

    async Task GeneratePassword(ApplicationUser _ApplicationUser)
    {
        // Set the selected user as the current user
        objUser = _ApplicationUser;

        var result = await _usersService.GenerateNewPassword(_ApplicationUser);

        if (string.IsNullOrWhiteSpace(result))
        {
            strError = "An unexpected error has occurred while creating the new user.";
            // Keep the popup opened
            return;
        }
        else
        {
            NewUserPassword = result;
        }

        ShowPassword();
    }

}
